
html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
  border: transparent  1px solid;
  position: relative;
 }


.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 360px 80px 50px 50px;
  grid-template-areas:  "tkk-input-radio" "tkk-input-txt" "tkk-input-btn" "tkk-return-btn";
}



.tkk-input-radio { grid-area: tkk-input-radio; }

.tkk-input-txt { grid-area: tkk-input-txt; }

.tkk-input-btn { grid-area: tkk-input-btn; }

.tkk-return-btn { grid-area: tkk-return-btn; }



body {


  max-width: 600px;
  padding: 1rem 1rem;
  font-size: 1.25rem;
  line-height: 1.333;
  font-family: sans-serif;
  margin: 0 auto;

  background-color: #e1e1e1;
  background-image: 
  linear-gradient(30deg, #ebebeb 12%, transparent 12.5%, transparent 87%, #ebebeb 87.5%, #ebebeb), 
  linear-gradient(150deg, #ebebeb 12%, transparent 12.5%, transparent 87%, #ebebeb 87.5%, #ebebeb), 
  linear-gradient(30deg, #ebebeb 12%, transparent 12.5%, transparent 87%, #ebebeb 87.5%, #ebebeb), 
  linear-gradient(150deg, #ebebeb 12%, transparent 12.5%, transparent 87%, #ebebeb 87.5%, #ebebeb), 
  linear-gradient(60deg, #f5f5f5 25%, transparent 25.5%, transparent 75%, #f5f5f5 75%, #f5f5f5), 
  linear-gradient(60deg, #f5f5f5 25%, transparent 25.5%, transparent 75%, #f5f5f5 75%, #f5f5f5);
  background-position: 0 0, 0 0, 100px 200px, 100px 200px, 0 0, 100px 200px;
  background-size: 200px 400px;
}

.card {
  
  height: 100%;
  background-color: rgb(245, 245, 245);
}

.selectradio {
  list-style: none;
  margin: 0;
  padding: 0; }
  .selectradio .selectradio-item {
    margin: 1px 0;
    padding: 0; }
  .selectradio input[type="radio"] {
    display: none; }
  .selectradio input[type="radio"]:checked + label {
    background: #17a2b8;
    color: #FFF;
    border: 2px solid #17a2b8; }
  .selectradio .selectradio-label {
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 45px;
    padding:  3px;
    cursor: pointer;
    color: #17a2b8;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;

    transition: 0.5s;
    border-radius: 4px;

    border: solid 0.5px #17a2b8;

  
  }

  .toggleable__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .8s cubic-bezier(0,1,0,1)
  }
  
  .toggleable__control:checked ~ .toggleable__content {
    transition-timing-function: ease-in-out;
    max-height: 800px;
  }
  
  
  /* Hiding elements in an accessible way */
  .hidden--visually {
      border: 0;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
  }
  
  /* Theming CSS */
    /*
  body {
    max-width: 600px;
    padding: 3rem 1rem;
    font-size: 1.25rem;
    line-height: 1.333;
    font-family: sans-serif;
    margin: 0 auto;
  }
   */
  .toggleable {
    border-bottom: 2px solid lightgray;
  }
  
  .toggleable__label {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0;
    cursor: pointer;
  }
  
  .toggleable__content {
    margin-top: 1rem;
    padding: 0 2rem;
  }
  
  .toggleable__control:checked ~ .toggleable__content {
    margin-bottom: 1rem;
  }
  
    
  .toggleable__label::after {
    content: "▼";
      font-size: 0.8rem;
  }
  
  .toggleable__control:checked ~ .toggleable__label::after {
    content: "▲";
  }
  